body{
    background-color: rgb(224, 224, 224);
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(https://www.elsetge.cat/myimg/f/8-82925_star-wars-wallpaper-widescreen-star-wars-theme-background.jpg);
    background-color: rgba(0, 0, 0, 0.292);
    position: absolute;
}

#output{
    color: yellow;
}

.names{
    display: inline-block;
    background-color: violet;
}
